body {
  background: var(--background);
  color: var(--color);
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  margin-bottom: var(--margin-bottom);
}

main {
  padding: var(--vertical-padding) var(--horizontal-padding);
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);

  &--small {
    max-width: var(--container-width-small);
  }
}
