body {
  font-family: 'SF UI Display', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  background: var(--background);
  color: var(--color);
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

pre {
  background: #161b22;
  padding: 16px;
  border-radius: 6px;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  margin: 1.5em auto 1.5em 0;
}
