body {
    --container: 980px;
    --post: 690px;
}

/*
Цвета светлой темы
*/
.light-mode body {
    --background: #ffffff;
    --color: #333333;
    --secondary: #aaaaaa;
    --border: #444444;
    --link: #2997ff;
}

/*
Цвета тёмной темы
*/
.dark-mode body {
    --background: #000000;
    --color: #f5f5f7;
    --secondary: #aaaaaa;
    --border: #444444;
    --link: #2997ff;
}
